body{
    background-color:rgba(250, 0, 0, 0.5);
}




h1{
    color:brown;
    text-align:center;
    background-color:chartreuse;
    border:solid black;

}

h2{
    color:blueviolet;
    text-align:center;
}

h3{
    text-align:center;
}

div{
    height:100px;
    width:100px;
    background-color:aqua;
    border:solid black;
    display:inline-block;
    font-family:'Times New Roman', Times, serif;

}

#box1{
    background-color:coral;
    height:100px;
    width:100px;
    position:relative;
    top:20px;
    left:20px;
}
#box2{
    background-color:cornflowerblue;
    height: 100px;
    width:100px;
    position:relative;
    top:50px;
    left:50px;
    right:50px;
    bottom:50px;

}



#box3{
    background-color:crimson;
    height:100px;
    width:100px;
    position:relative;
    top:100pxpx;;
    right:100px;
    bottom:400px;
    left:200px;
}
#box4{
    background-color:deeppink;
    height:100px;
    width:100px;
}

