body{
    background-color: rgba(0, 250, 96, 0.5);
}
header{
    
}

footer{
    background-color:brown;
}



#navbar{
    
    height:100px;
    
}

nav{
    background-color:black;
    height:60px;
    border-style:solid;
    border-color:white;

}

#logo{
    color:white;
    color:orange;
    font-size:25px;
    margin-left:30px;
}

a{
    color:white;
    text-decoration:none;
    margin-right:200px;
    font-family:'Times New Roman', Times, serif;
}

#search{
    background-color:orange;
}

#div1{
    background-color: rgba(250, 0, 0, 0.5);
    height:100px;
    width:200px;
    margin-left:30px;
    text-align:center;
    border-style:solid;
    border-color:black;
    
}

#div2{
    background-color: rgba(8, 23, 235, 0.5);
    height:100px;
    width:200px;
    margin-left:30px;
    text-align:center;
    border-style:solid;
    border-color:black;
  
}




#div3{
    background-color: rgba(230, 7, 81, 0.5);
    height:100px;
    width:200px;
    margin-left:30px;
    text-align:center;
    border-style:solid;
    border-color:black;
     
}
#maindiv{
    display:inline-block;
}


footer{
    text-align:center;
}

    
